.main {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
.content {
    float: left;
    width: 1020px;
    padding-bottom: 2000px;
    margin-bottom: -2000px;
    background: deepskyblue;
}
